body{
  background-color: #edede9;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 10px;
}

.binary-clock{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #d5bdaf;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
  0 2px 2px rgba(0,0,0,0.11), 
  0 4px 4px rgba(0,0,0,0.11), 
  0 8px 8px rgba(0,0,0,0.11), 
  0 16px 16px rgba(0,0,0,0.11), 
  0 32px 32px rgba(0,0,0,0.11);
}

.binary-clock:nth-child(2n){
  margin-right: 20px;
}

.binary-clock span{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
  0 2px 2px rgba(0,0,0,0.11), 
  0 4px 4px rgba(0,0,0,0.11), 
  0 8px 8px rgba(0,0,0,0.11), 
  0 16px 16px rgba(0,0,0,0.11), 
  0 32px 32px rgba(0,0,0,0.11);
}

.binary-clock span.off{
  background-color: black;
}

.binary-clock span.on{
  background-color: tomato;
}

.binary-clock p{
  text-align: center;
  margin-block-start: 10px;
  font-size: 25px;
  color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
  0 2px 2px rgba(0,0,0,0.11), 
  0 4px 4px rgba(0,0,0,0.11), 
  0 8px 8px rgba(0,0,0,0.11), 
  0 16px 16px rgba(0,0,0,0.11), 
  0 32px 32px rgba(0,0,0,0.11);
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: #d6ccc2;
}